{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 119,
    "proseWrap": "never",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "preserve",
                "tabWidth": 2
            }
        }
    ]
}
